.post-header {
  width: 100%;
  height: 500px;
  background: var(--container-color);
}
.post-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem !important;
}
.back-home {
  color: var(--second-color);
  font-size: 0.9rem;
}
.header-title {
  width: 90%;
  font-size: 2.6rem;
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 1rem;
}
.header-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: center;
}
.post-content {
  margin-top: 10rem !important;
}
.sub-heading {
  font-size: 1.2rem;
}
.post-text {
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
}
.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.share-title {
  font-size: 1.1rem;
}
@media (max-width: 1060px) {
  .post-container {
    margin: 0 auto;
    width: 95%;
  }
}
@media (max-width: 768px) {
  .header-content {
    margin-top: 3rem !important;
  }
  .header-title {
    font-size: 2rem;
  }
  .header-img {
    height: 370px;
  }
  .post-header {
    height: 435px;
  }
  .post-content {
    margin-top: 9rem !important;
  }
}
@media (max-width: 570px) {
  .post-header {
    height: 390px;
  }
  .header-title {
    width: 100%;
  }
  .header-img {
    height: 340px;
  }
}
@media (max-width: 396px) {
  .header-title {
    font-size: 1.4rem;
  }
  .header-img {
    height: 240px;
  }
  .post-header {
    height: 335px;
  }
  .post-content {
    margin-top: 5rem !important;
  }
  .post-text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 10px 0;
    }
}