.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
    z-index: 100;

}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    z-index: 100;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span {
    color: var(--second-color);
}

.logo-home {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    z-index: 100;
}
.logo-home span {
    color: var(--second-color);
}

@media (max-width: 1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }
}
@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }
}
@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }
}