.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--bg-color);
}
.logo span {
    color: var(--second-color);
}

.home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text {
    color: var(--bg-color);
    text-align: center;
}
.home-title {
    font-size: 4rem;
    /* add 6 for desktop and 4 for android */
}
.home-title span {
    color: var(--second-color);
}
.home-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
}

